.flexitems {
  &__avalableservice {
    margin-top: 10px;
    display: flex;

    overflow-x: scroll;

    @include atSmallMax {
      display: none;
    }
  }
  &__latestservices {
    margin-top: 10px;
    width: 100%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: auto auto auto;

    overflow-x: scroll;
    @include atSmallMax {
      display: none;
    }
  }
  &__flexsignin {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #f6f9f5;
    border-radius: 25px;
    flex-direction: column;
  }

  &__avalableservice::-webkit-scrollbar {
    height: 0.2rem;
    background-color: #0d3b97;
  }
  &__avalableservice::-webkit-scrollbar-thumb {
    background-color: #f68b1e;
  }
}
