.listitem {
  display: block;
  &__mainlist {
    ul {
      list-style: none;
    }
    li {
      display: inline-block;

      font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
    }
    li:after {
      border-style: solid;
      border-width: 0.05em 0.05em 0 0;
      color: #9b9b9b;
      content: "";
      display: inline-block;
      height: 0.4em;
      opacity: 0.8;
      position: relative;
      right: -0.25rem;
      top: 0.375rem;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      vertical-align: top;
      width: 0.4em;
    }
  }
  ul {
    list-style: none;
    position: absolute;
    left: 4rem;
  }
  li {
    display: inline-block;

    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  }
  li:last-child {
    color: $main-color;
    font-weight: 700;
    padding-right: 0;
  }
}
