.navbar {
  background-color: $nav-color;
  width: 100%;
  &__mycontainer {
    display: flex;
    margin-left: 20%;
    flex-direction: column;

    @include atSmall {
      display: none;
    }
    @include atSmallMax {
      display: none;
    }
    @include atMedium {
      display: flex;
    }
  }
  &__container {
    display: flex;
    margin-left: 20%;

    @include atSmall {
      display: none;
    }
    @include atSmallMax {
      display: none;
    }
    @include atMedium {
      display: flex;
    }
  }
  &__nav_mobile {
    @include atSmall {
      display: flex;
    }
    @include atSmallMax {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      align-self: flex-start;
      margin-top: 2px;
    }
    @include atMedium {
      display: none;
    }
  }
  &__navbarwrapper {
    display: flex;

    justify-content: left;
    justify-items: center;
  }
  &__mainwrapper {
    display: flex;

    justify-content: space-between;
    justify-items: center;
  }
  &__catwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
  }
  &__subitem {
    display: flex;
    justify-content: space-evenly;
    justify-items: self-start;
    position: relative;
    bottom: 4px;
  }
  &__childcontainer {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  &__moveleft {
    margin-left: 10%;
  }
}
